@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: 400;
  src: local("Optima"), url("../fonts/OptimaLTPro-Medium.otf") format("opentype"); }
@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: bold;
  src: local("Optima"), url("../fonts/OptimaLTPro-bold.otf") format("opentype"); }
@keyframes ripple {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1; }
  75%,
  100% {
    width: calc(100% + 3.2rem);
    height: calc(100% + 3.2rem);
    opacity: 0; } }
@keyframes ripple-big {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1; }
  75%,
  100% {
    width: calc(100% + 6.4rem);
    height: calc(100% + 6.4rem);
    opacity: 0; } }
html,
body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  font-family: "Inter", sans-serif;
  font-size: 1.04vw;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  color: #505050;
  -webkit-font-smoothing: antialiased;
  background: #f2f2f2;
  scroll-behavior: smooth; }
  @media (max-width: 768px) {
    html,
    body {
      font-size: 4.17vw; } }
  @media (max-width: 360px) {
    html,
    body {
      font-size: 15px; } }

html *,
html *::before,
html *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
  color: inherit; }
  html *:focus,
  html *::before:focus,
  html *::after:focus {
    outline: none;
    box-shadow: none; }
html body {
  overflow-x: hidden; }
html ol,
html ul {
  list-style: none; }
html blockquote,
html q {
  quotes: none; }
html blockquote:before,
html blockquote:after,
html q:before,
html q:after {
  content: "";
  content: none; }
html table {
  border-collapse: collapse;
  border-spacing: 0; }
html img {
  object-fit: contain;
  line-height: 0; }
html input {
  caret-color: #505050; }
html a {
  color: inherit;
  text-decoration: none; }
html .is-hidden {
  display: none !important; }
html .is-unvisible {
  opacity: 0 !important;
  pointer-events: none !important; }
html header {
  z-index: 10; }
html img.js-SVGInject {
  opacity: 0; }

[data-aos="ani-title"] {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1.2s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1) !important; }
  [data-aos="ani-title"].aos-animate {
    opacity: 1; }

[data-aos="ani-rotate"] {
  opacity: 0;
  transform: translate(3.5%, 14%) rotate(-120deg) !important;
  transition-property: opacity, transform;
  transition-duration: 1.2s, 2.4s !important;
  transition-delay: 1.2s, 1.8s;
  transition-timing-function: cubic-bezier(0.32, 0, 0.67, 0), cubic-bezier(0.33, 1, 0.68, 1) !important; }
  [data-aos="ani-rotate"].aos-animate {
    opacity: 1;
    transform: translate(3.5%, 14%) rotate(0deg) !important; }

.navbar {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  padding: 2.12rem 3.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.6s cubic-bezier(0.32, 0, 0.67, 0), transform 1.2s cubic-bezier(0.33, 1, 0.68, 1); }
  .navbar__brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
    .navbar__brand:hover .brand__original::before,
    .navbar__brand:hover .brand__registered::before {
      transform: translateY(-120%) rotate(-12deg); }
    .navbar__brand:hover .brand__original::after,
    .navbar__brand:hover .brand__registered::after {
      transform: translateY(0) rotate(0deg); }
    .navbar__brand .brand__original, .navbar__brand .brand__registered {
      overflow: hidden; }
      .navbar__brand .brand__original::before, .navbar__brand .brand__original::after, .navbar__brand .brand__registered::before, .navbar__brand .brand__registered::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0;
        position: absolute;
        margin: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0; }
      .navbar__brand .brand__original::before, .navbar__brand .brand__registered::before {
        background: #205288;
        transform: translateY(0%) rotate(0deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .navbar__brand .brand__original::after, .navbar__brand .brand__registered::after {
        background: #d68f4c;
        transform: translateY(120%) rotate(12deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .navbar__brand .brand__original {
      width: 7.13rem;
      height: 2.12rem;
      border-radius: 0; }
      .navbar__brand .brand__original::before, .navbar__brand .brand__original::after {
        -webkit-mask: url("../images/original.svg");
        mask: url("../images/original.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center center; }
    .navbar__brand .brand__registered {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 0;
      margin-left: 0.47rem; }
      .navbar__brand .brand__registered::before, .navbar__brand .brand__registered::after {
        -webkit-mask: url("../images/registered.svg");
        mask: url("../images/registered.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center center; }
    .navbar__brand svg path {
      fill: transparent; }
  .navbar__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-transform: capitalize;
    padding: 1.3rem 2.67rem 0.93rem 2.67rem;
    border-radius: 9999px;
    background: #f0ede8; }
    .navbar__nav .nav__item + .nav__item {
      margin-left: 2.67rem; }
    .navbar__nav .nav__item + .nav__dash {
      margin-left: 1rem;
      margin-right: 1.3rem; }
    .navbar__nav .nav__link {
      font-family: "Optima", "Inter", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 1.3rem;
      border-radius: 0;
      color: transparent;
      overflow: hidden; }
      .navbar__nav .nav__link::before, .navbar__nav .nav__link::after {
        content: attr(data-text);
        display: block;
        position: absolute;
        margin: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0; }
      .navbar__nav .nav__link::before {
        transform: translateY(0%) rotate(0deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .navbar__nav .nav__link::after {
        transform: translateY(150%) rotate(12deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .navbar__nav .nav__link:hover::before {
        transform: translateY(-150%) rotate(-12deg); }
      .navbar__nav .nav__link:hover::after {
        transform: translateY(0) rotate(0deg); }
      .navbar__nav .nav__link::before {
        color: #131313; }
      .navbar__nav .nav__link::after {
        color: #d68f4c; }
      .navbar__nav .nav__link:hover .nav__icon::before {
        transform: translateY(-150%) rotate(-12deg); }
      .navbar__nav .nav__link:hover .nav__icon::after {
        transform: translateY(0) rotate(0deg); }
    .navbar__nav .nav__icon {
      width: 0.8rem;
      height: 1.3rem;
      border-radius: 0;
      margin-right: 0.47rem;
      overflow: hidden; }
      .navbar__nav .nav__icon::before, .navbar__nav .nav__icon::after {
        content: "";
        display: block;
        width: 100%;
        height: 1rem;
        border-radius: 0;
        position: absolute;
        margin: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: auto;
        -webkit-mask: url("../images/shop.svg");
        mask: url("../images/shop.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center center; }
      .navbar__nav .nav__icon::before {
        background: #131313;
        transform: translateY(0%) rotate(0deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .navbar__nav .nav__icon::after {
        background: #d68f4c;
        transform: translateY(150%) rotate(12deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .navbar__nav .nav__line {
      width: 1.6rem;
      height: 0;
      border-radius: 0;
      border-top: 0.07rem solid #dfad77;
      transform: translateY(-0.2rem) matrix(-0.34, 0.94, 0.94, 0.34, 0, 0); }

body.is-unOpening .navbar {
  opacity: 0;
  transform: translateY(-60%); }

.concept {
  background: #dfad77;
  padding-top: 3.87rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }
  .concept__topImage {
    width: 28rem;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: auto;
    transition: opacity 1.2s 1.2s cubic-bezier(0.32, 0, 0.67, 0), filter 0.6s 1.2s cubic-bezier(0.32, 0, 0.67, 0), transform 1.2s 1.2s cubic-bezier(0.33, 1, 0.68, 1); }
    .concept__topImage picture,
    .concept__topImage img {
      width: 100%;
      height: auto;
      border-radius: 0; }
  .concept__swiper {
    flex: 0 0 47.2rem;
    width: 47.2rem;
    height: 64.47rem;
    border-radius: 0;
    transform: translateY(8rem);
    margin: 0;
    transition: opacity 0.6s 1.2s cubic-bezier(0.32, 0, 0.67, 0), transform 1.8s 1.2s cubic-bezier(0.33, 1, 0.68, 1); }
    .concept__swiper .slide__image {
      width: 100%;
      height: auto;
      border-radius: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transform: scale(1.1);
      filter: blur(0.4rem);
      transition: filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), transform 0.6s 0.3s cubic-bezier(0.5, 1, 0.89, 1); }
      .concept__swiper .slide__image picture,
      .concept__swiper .slide__image img {
        width: 100%;
        height: auto;
        border-radius: 0; }
    .concept__swiper .slide__text {
      font-family: "Optima", "Inter", sans-serif;
      font-size: 8rem;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: 0;
      color: transparent;
      text-transform: capitalize;
      mix-blend-mode: overlay;
      position: absolute;
      margin: auto;
      left: 4.8rem;
      top: auto;
      right: 4.8rem;
      bottom: 2.27rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      @media (max-width: 768px) {
        .concept__swiper .slide__text {
          font-size: 5.3rem;
          line-height: 1; } }
      .concept__swiper .slide__text span {
        width: 100%;
        height: 9.73rem;
        border-radius: 0;
        overflow: hidden; }
        @media (max-width: 768px) {
          .concept__swiper .slide__text span {
            width: 100%;
            height: 4.8rem;
            border-radius: 0; } }
        .concept__swiper .slide__text span::before {
          content: attr(data-text);
          display: block;
          color: #dfad77;
          position: absolute;
          margin: auto;
          left: 0;
          top: 0;
          right: auto;
          bottom: auto;
          transform: translateY(150%) rotate(12deg); }
        .concept__swiper .slide__text span:nth-child(1)::before {
          transition: all 0.6s 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
        .concept__swiper .slide__text span:nth-child(2)::before {
          transition: all 0.6s 0.65s cubic-bezier(0.33, 1, 0.68, 1); }
        .concept__swiper .slide__text span:nth-child(3)::before {
          transition: all 0.6s 0.7s cubic-bezier(0.33, 1, 0.68, 1); }
    .concept__swiper .swiper-slide-active .slide__image {
      transform: scale(1);
      filter: blur(0rem); }
    .concept__swiper .swiper-slide-active .slide__text span::before {
      transform: translateY(0%) rotate(0deg); }
  .concept__info {
    width: 32.4rem;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 8.4rem;
    margin-top: 19.73rem; }
  .concept__tag {
    font-family: "Optima", "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transform-origin: left top;
    transform: translateY(-0.8rem) rotate(90deg);
    position: absolute;
    margin: auto;
    left: -4.67rem;
    top: 0;
    right: auto;
    bottom: auto; }
    @media (max-width: 768px) {
      .concept__tag {
        font-size: 1rem; } }
    .concept__tag::before {
      content: "";
      display: block;
      width: 1.6rem;
      height: 0;
      border-radius: 0;
      border-top: 0.07rem solid #ffffff;
      transform: translate(-0.27rem, -0.2rem) rotate(110deg); }
  .concept__title {
    font-family: "Optima", "Inter", sans-serif;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 0.86;
    letter-spacing: 0;
    color: transparent;
    text-transform: capitalize;
    width: 32.4rem;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateY(-0.87rem); }
    @media (max-width: 768px) {
      .concept__title {
        font-size: 56px; } }
    .concept__title span {
      width: 100%;
      height: 6.4rem;
      border-radius: 0;
      overflow: hidden; }
      .concept__title span::before {
        content: attr(data-text);
        display: block;
        color: #ffffff;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: auto;
        bottom: auto;
        transform: translateY(12%) rotate(0deg); }
      .concept__title span:nth-child(1) {
        transform: translateY(0rem); }
        .concept__title span:nth-child(1)::before {
          transition: all 1.2s 0.8s cubic-bezier(0.33, 1, 0.68, 1); }
      .concept__title span:nth-child(2) {
        transform: translateY(-0.87rem); }
        .concept__title span:nth-child(2)::before {
          transition: all 1.2s 0.85s cubic-bezier(0.33, 1, 0.68, 1); }
      .concept__title span:nth-child(3) {
        transform: translateY(-1.74rem); }
        .concept__title span:nth-child(3)::before {
          transition: all 1.2s 0.9s cubic-bezier(0.33, 1, 0.68, 1); }
  .concept__content {
    font-family: "Inter", sans-serif;
    font-size: 1.04vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #ffffff;
    width: 18.8rem;
    height: auto;
    border-radius: 0;
    margin-top: calc(-0.87rem * 3 + 5.27rem);
    transition: opacity 1.2s 1.2s cubic-bezier(0.32, 0, 0.67, 0), transform 1.2s 1.2s cubic-bezier(0.33, 1, 0.68, 1); }
    @media (max-width: 768px) {
      .concept__content {
        font-size: 4.17vw; } }
    @media (max-width: 360px) {
      .concept__content {
        font-size: 15px; } }
    @media (max-width: 1024px) {
      .concept__content {
        margin-top: calc(-0.87rem * 3 + 4.27rem);
        width: 26rem;
        height: auto;
        border-radius: 0; } }
  .concept__btnGroup {
    width: 18.8rem;
    height: auto;
    border-radius: 0;
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Optima", "Inter", sans-serif;
    font-size: 1.33rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.002rem;
    color: #ffffff;
    transition: opacity 1.2s 1.4s cubic-bezier(0.32, 0, 0.67, 0), transform 1.2s 1.4s cubic-bezier(0.33, 1, 0.68, 1); }
    @media (max-width: 768px) {
      .concept__btnGroup {
        font-size: 1.07rem; } }
    @media (max-width: 1024px) {
      .concept__btnGroup {
        width: 26rem;
        height: auto;
        border-radius: 0; } }
  .concept__btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .concept__btn:hover .btn__icon {
      transition: background 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .concept__btn:hover .btn__icon::before {
        animation: ripple 1s cubic-bezier(0.5, 1, 0.89, 1); }
      .concept__btn:hover .btn__icon::after {
        animation: ripple 1s 0.5s cubic-bezier(0.5, 1, 0.89, 1); }
    .concept__btn:hover .btn__image::before {
      opacity: 0;
      transform: translate(25%, -25%) rotate(-12deg); }
    .concept__btn:hover .btn__image::after {
      opacity: 1;
      transform: translate(0%, 0%) rotate(0deg); }
    .concept__btn:hover .btn__text::before {
      transform: translateY(-150%) rotate(-12deg); }
    .concept__btn:hover .btn__text::after {
      transform: translateY(0) rotate(0deg); }
    .concept__btn .btn__icon {
      width: 4.27rem;
      height: 4.27rem;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0);
      transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .concept__btn .btn__icon::before, .concept__btn .btn__icon::after {
        content: "";
        display: block;
        width: 4.27rem;
        height: 4.27rem;
        border-radius: 50%;
        position: absolute;
        margin: auto;
        left: 50%;
        top: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        opacity: 0; }
    .concept__btn .btn__image::before, .concept__btn .btn__image::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0;
      position: absolute;
      margin: auto;
      left: auto;
      top: 0;
      right: 0;
      bottom: auto;
      -webkit-mask: url("../images/arrow.svg");
      mask: url("../images/arrow.svg");
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center center; }
    .concept__btn .btn__image::before {
      opacity: 1;
      transform: translate(0%, 0%) rotate(0deg);
      transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .concept__btn .btn__image::after {
      opacity: 0;
      transform: translate(-25%, 25%) rotate(12deg);
      transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .concept__btn .btn__text {
      margin-left: 1.6rem;
      width: auto;
      height: 1.73rem;
      border-radius: 0;
      color: transparent;
      overflow: hidden; }
      .concept__btn .btn__text::before, .concept__btn .btn__text::after {
        content: attr(data-text);
        display: block;
        position: absolute;
        margin: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0; }
      .concept__btn .btn__text::before {
        transform: translateY(0%) rotate(0deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .concept__btn .btn__text::after {
        transform: translateY(150%) rotate(12deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .concept__btn:hover .btn__icon {
      border: 0.07rem solid rgba(255, 255, 255, 0);
      background: #ffffff; }
    .concept__btn .btn__icon {
      border: 0.07rem solid #ffffff;
      background: rgba(255, 255, 255, 0); }
      .concept__btn .btn__icon::before, .concept__btn .btn__icon::after {
        border: 0.07rem solid #ffffff; }
    .concept__btn .btn__image {
      width: 1.2rem;
      height: 0.6rem;
      border-radius: 0; }
      .concept__btn .btn__image::before {
        background: #ffffff; }
      .concept__btn .btn__image::after {
        background: #d68f4c; }
    .concept__btn .btn__text::before {
      color: #ffffff; }
    .concept__btn .btn__text::after {
      color: #ffffff; }

body.is-unOpening .concept__title span::before {
  transform: translateY(170%) rotate(12deg); }
body.is-unOpening .concept__content {
  transform: translateY(60%);
  opacity: 0; }
body.is-unOpening .concept__btnGroup {
  transform: translateY(60%);
  opacity: 0; }
body.is-unOpening .concept__swiper {
  transform: translateY(30%);
  opacity: 0; }
body.is-unOpening .concept__topImage {
  transform: translateY(-60%);
  opacity: 0;
  filter: blur(3px) brightness(110%); }

.collection {
  margin: 29.2rem auto 0 auto;
  width: 80rem;
  height: auto;
  border-radius: 0; }
  .collection__title {
    font-family: "Optima", "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
    color: #505050;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    @media (max-width: 768px) {
      .collection__title {
        font-size: 1rem; } }
    .collection__title::before {
      content: "";
      display: block;
      width: 1.6rem;
      height: 0;
      border-radius: 0;
      border-top: 0.07rem solid #505050;
      transform: translate(-0.27rem, -0.2rem) rotate(110deg); }
  .collection__gallery {
    margin: auto;
    margin-top: -2.08rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .collection__gallery .gallery__item > div {
      overflow: hidden; }
    .collection__gallery .gallery__item img {
      object-fit: cover;
      transition: all 0.6s cubic-bezier(0.5, 1, 0.89, 1); }
    .collection__gallery .gallery__item:hover img {
      transform: scale(1.1); }
    .collection__gallery .gallery__item + .gallery__item {
      margin-left: 1.6rem; }
    .collection__gallery .gallery__item:nth-child(1) > div {
      width: 18.8rem;
      height: 24.27rem;
      border-radius: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .collection__gallery .gallery__item:nth-child(1) > div picture,
      .collection__gallery .gallery__item:nth-child(1) > div img {
        width: 100%;
        height: 100%;
        border-radius: 0; }
    .collection__gallery .gallery__item:nth-child(2) > div {
      width: 32.4rem;
      height: 43.67rem;
      border-radius: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .collection__gallery .gallery__item:nth-child(2) > div picture,
      .collection__gallery .gallery__item:nth-child(2) > div img {
        width: 100%;
        height: 100%;
        border-radius: 0; }
    .collection__gallery .gallery__item:nth-child(3) {
      width: 25.6rem;
      height: 19.73rem;
      border-radius: 0;
      position: absolute;
      margin: auto;
      left: auto;
      top: 0;
      right: 0;
      bottom: 0;
      transform: translateY(calc(-100% - 1.6rem)); }
      .collection__gallery .gallery__item:nth-child(3) > div {
        width: 25.6rem;
        height: 19.73rem;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .collection__gallery .gallery__item:nth-child(3) > div picture,
        .collection__gallery .gallery__item:nth-child(3) > div img {
          width: 100%;
          height: 100%;
          border-radius: 0; }
    .collection__gallery .gallery__item:nth-child(4) > div {
      width: 18.8rem;
      height: 20.07rem;
      border-radius: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .collection__gallery .gallery__item:nth-child(4) > div picture,
      .collection__gallery .gallery__item:nth-child(4) > div img {
        width: 100%;
        height: 100%;
        border-radius: 0; }
    .collection__gallery .gallery__link {
      width: 12rem;
      height: 3.47rem;
      border-radius: 9999px;
      background: #f0ede8;
      z-index: 1;
      position: absolute;
      margin: auto;
      left: 0;
      top: auto;
      right: 0;
      bottom: 1.6rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: background 0.6s cubic-bezier(0.33, 1, 0.68, 1);
      box-shadow: 0 0.27rem 2.13rem -0.53rem rgba(172, 172, 172, 0.2); }
      .collection__gallery .gallery__link::before, .collection__gallery .gallery__link::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 9999px;
        position: absolute;
        margin: auto;
        left: 50%;
        top: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        opacity: 0; }
      .collection__gallery .gallery__link .btn__text {
        width: auto;
        height: 1.3rem;
        border-radius: 0;
        color: transparent;
        overflow: hidden; }
        .collection__gallery .gallery__link .btn__text::before, .collection__gallery .gallery__link .btn__text::after {
          content: attr(data-text);
          display: block;
          position: absolute;
          margin: auto;
          left: auto;
          top: 0;
          right: 0;
          bottom: 0; }
        .collection__gallery .gallery__link .btn__text::before {
          transform: translateY(0%) rotate(0deg);
          transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
        .collection__gallery .gallery__link .btn__text::after {
          transform: translateY(150%) rotate(12deg);
          transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .collection__gallery .gallery__link:hover::before {
        animation: ripple 1s cubic-bezier(0.5, 1, 0.89, 1); }
      .collection__gallery .gallery__link:hover::after {
        animation: ripple 1s 0.5s cubic-bezier(0.5, 1, 0.89, 1); }
      .collection__gallery .gallery__link:hover .btn__text::before {
        transform: translateY(-150%) rotate(-12deg); }
      .collection__gallery .gallery__link:hover .btn__text::after {
        transform: translateY(0) rotate(0deg); }
      .collection__gallery .gallery__link::before {
        border: 0.07rem solid #f0ede8; }
      .collection__gallery .gallery__link::after {
        border: 0.07rem solid #dbbb76; }
      .collection__gallery .gallery__link:hover {
        background: #dbbb76; }
    .collection__gallery .gallery__linkText {
      font-family: "Optima", "Inter", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: 0; }
      .collection__gallery .gallery__linkText::before {
        color: #505050; }
      .collection__gallery .gallery__linkText::after {
        color: #ffffff; }
  .collection__btnGroup {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: "Optima", "Inter", sans-serif;
    font-size: 1.33rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.002rem;
    color: #505050;
    transition: opacity 1.2s 0.9s cubic-bezier(0.32, 0, 0.67, 0), transform 1.2s 0.9s cubic-bezier(0.33, 1, 0.68, 1) !important; }
    @media (max-width: 768px) {
      .collection__btnGroup {
        font-size: 1.07rem; } }
  .collection__btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .collection__btn:hover .btn__icon {
      transition: background 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .collection__btn:hover .btn__icon::before {
        animation: ripple 1s cubic-bezier(0.5, 1, 0.89, 1); }
      .collection__btn:hover .btn__icon::after {
        animation: ripple 1s 0.5s cubic-bezier(0.5, 1, 0.89, 1); }
    .collection__btn:hover .btn__image::before {
      opacity: 0;
      transform: translate(25%, -25%) rotate(-12deg); }
    .collection__btn:hover .btn__image::after {
      opacity: 1;
      transform: translate(0%, 0%) rotate(0deg); }
    .collection__btn:hover .btn__text::before {
      transform: translateY(-150%) rotate(-12deg); }
    .collection__btn:hover .btn__text::after {
      transform: translateY(0) rotate(0deg); }
    .collection__btn .btn__icon {
      width: 4.27rem;
      height: 4.27rem;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0);
      transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .collection__btn .btn__icon::before, .collection__btn .btn__icon::after {
        content: "";
        display: block;
        width: 4.27rem;
        height: 4.27rem;
        border-radius: 50%;
        position: absolute;
        margin: auto;
        left: 50%;
        top: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        opacity: 0; }
    .collection__btn .btn__image::before, .collection__btn .btn__image::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0;
      position: absolute;
      margin: auto;
      left: auto;
      top: 0;
      right: 0;
      bottom: auto;
      -webkit-mask: url("../images/arrow.svg");
      mask: url("../images/arrow.svg");
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center center; }
    .collection__btn .btn__image::before {
      opacity: 1;
      transform: translate(0%, 0%) rotate(0deg);
      transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .collection__btn .btn__image::after {
      opacity: 0;
      transform: translate(-25%, 25%) rotate(12deg);
      transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .collection__btn .btn__text {
      margin-left: 1.6rem;
      width: auto;
      height: 1.73rem;
      border-radius: 0;
      color: transparent;
      overflow: hidden; }
      .collection__btn .btn__text::before, .collection__btn .btn__text::after {
        content: attr(data-text);
        display: block;
        position: absolute;
        margin: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0; }
      .collection__btn .btn__text::before {
        transform: translateY(0%) rotate(0deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .collection__btn .btn__text::after {
        transform: translateY(150%) rotate(12deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .collection__btn:hover .btn__icon {
      border: 0.07rem solid rgba(19, 19, 19, 0);
      background: #dbbb76; }
    .collection__btn .btn__icon {
      border: 0.07rem solid rgba(19, 19, 19, 0.3);
      background: rgba(219, 187, 118, 0); }
      .collection__btn .btn__icon::before {
        border: 0.07rem solid rgba(19, 19, 19, 0.3); }
      .collection__btn .btn__icon::after {
        border: 0.07rem solid #dbbb76; }
    .collection__btn .btn__image {
      width: 1.2rem;
      height: 0.6rem;
      border-radius: 0; }
      .collection__btn .btn__image::before {
        background: #505050; }
      .collection__btn .btn__image::after {
        background: #ffffff; }
    .collection__btn .btn__text::before {
      color: #505050; }
    .collection__btn .btn__text::after {
      color: #dbbb76; }

.service {
  margin: 10.53rem auto 0 auto; }
  .service__title {
    font-family: "Optima", "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
    color: #505050;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80rem;
    height: auto;
    border-radius: 0;
    margin: auto; }
    @media (max-width: 768px) {
      .service__title {
        font-size: 1rem; } }
    .service__title::before {
      content: "";
      display: block;
      width: 1.6rem;
      height: 0;
      border-radius: 0;
      border-top: 0.07rem solid #505050;
      transform: translate(-0.27rem, -0.2rem) rotate(110deg); }
  .service__lists {
    width: 100%;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 3.73rem 0 0 0;
    border-top: 0.07rem solid rgba(19, 19, 19, 0.1);
    border-bottom: 0.07rem solid rgba(19, 19, 19, 0.1); }
  .service__item {
    width: 50%;
    height: auto;
    border-radius: 0;
    padding: 2.67rem 2.67rem 5.73rem 2.67rem;
    flex: 0 0 50%; }
    .service__item + .service__item {
      border-left: 0.07rem solid rgba(19, 19, 19, 0.1); }
    .service__item svg {
      width: 100%;
      height: 100%;
      border-radius: 0; }
    .service__item:nth-child(2n + 1) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .service__item:nth-child(2n + 1) .service__image {
        width: 9.2rem;
        height: 10.87rem;
        border-radius: 0;
        margin-top: 2.87rem;
        margin-bottom: 4.87rem;
        margin-left: 4.8rem; }
    .service__item:nth-child(2n) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: flex-start; }
      .service__item:nth-child(2n) .service__image {
        width: 7.8rem;
        height: 10.4rem;
        border-radius: 0;
        margin-top: 7.87rem;
        margin-left: 5.47rem; }
  .service__info .info__title {
    font-family: "Optima", "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    color: transparent;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (max-width: 768px) {
      .service__info .info__title {
        font-size: 1.47rem; } }
    .service__info .info__title span {
      width: 100%;
      height: 2.27rem;
      border-radius: 0;
      overflow: hidden; }
      .service__info .info__title span::before {
        content: attr(data-text);
        display: block;
        color: #505050;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: auto;
        bottom: auto;
        transform: translateY(0%) rotate(0deg); }
      .service__info .info__title span:nth-child(1)::before {
        transition: all 0.6s 1.8s cubic-bezier(0.33, 1, 0.68, 1); }
      .service__info .info__title span:nth-child(2)::before {
        transition: all 0.6s 1.85s cubic-bezier(0.33, 1, 0.68, 1); }
  .service__info .info__content {
    font-family: "Inter", sans-serif;
    font-size: 1.04vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #505050;
    margin-top: 1.06rem;
    transition: opacity 1.2s 1.8s cubic-bezier(0.32, 0, 0.67, 0), transform 1.2s 1.8s cubic-bezier(0.33, 1, 0.68, 1); }
    @media (max-width: 768px) {
      .service__info .info__content {
        font-size: 4.17vw; } }
    @media (max-width: 360px) {
      .service__info .info__content {
        font-size: 15px; } }
  .service svg {
    opacity: 0; }
    .service svg path {
      transition: fill 0.6s 0.6s cubic-bezier(0.5, 1, 0.89, 1), stroke 0.6s cubic-bezier(0.5, 1, 0.89, 1); }
      .service svg path.is-bgLine {
        opacity: 0;
        fill: #dfad77;
        transition: opacity 0.6s cubic-bezier(0.5, 1, 0.89, 1), fill 0.6s 0.6s cubic-bezier(0.5, 1, 0.89, 1); }
      .service svg path.is-stroke {
        stroke: #dfad77; }
    .service svg.is-drawFinish {
      opacity: 1; }
      .service svg.is-drawFinish path.is-bgLine {
        fill: #d68f4c; }
      .service svg.is-drawFinish path.is-stroke {
        stroke: #d68f4c; }
  .service .is-unDraw .service__info .info__title span::before {
    transform: translateY(120%) rotate(6deg); }
  .service .is-unDraw .service__info .info__content {
    opacity: 0;
    transform: translateY(200%); }

.marquee {
  width: 100%;
  height: auto;
  border-radius: 0;
  overflow: hidden;
  margin: 4.67rem auto 0 auto;
  padding-bottom: 13.27rem; }
  .marquee__title {
    font-family: "Optima", "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
    color: #505050;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80rem;
    height: auto;
    border-radius: 0;
    margin: auto; }
    @media (max-width: 768px) {
      .marquee__title {
        font-size: 1rem; } }
    .marquee__title::before {
      content: "";
      display: block;
      width: 1.6rem;
      height: 0;
      border-radius: 0;
      border-top: 0.07rem solid #505050;
      transform: translate(-0.27rem, -0.2rem) rotate(110deg); }
  .marquee__wrap {
    width: 100%;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 6.53rem 0 0 0;
    border-top: 0.07rem solid rgba(19, 19, 19, 0.1);
    border-bottom: 0.07rem solid rgba(19, 19, 19, 0.1); }
  .marquee__item {
    font-family: "Optima", "Inter", sans-serif;
    font-size: 8rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
    color: #dbbb76;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.53rem 0; }
    @media (max-width: 768px) {
      .marquee__item {
        font-size: 5.3rem;
        line-height: 1; } }
    .marquee__item + .marquee__item {
      border-top: 0.07rem solid rgba(19, 19, 19, 0.1); }
    .marquee__item:nth-child(2n + 1) {
      animation: marquee 12s linear infinite; }
    .marquee__item:nth-child(2n) {
      animation: marquee 12s reverse linear infinite; }
@keyframes marquee {
  0% {
    transform: translateX(-50%); }
  100% {
    transform: translateX(0%); } }
  .marquee__group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 1rem; }
  .marquee__text {
    white-space: nowrap;
    padding: 0 3.23rem; }
    .marquee__text + .marquee__text::before {
      content: "";
      display: block;
      width: 0;
      height: 6.4rem;
      border-radius: 0;
      border-left: 0.07rem solid #dbbb76;
      transform: translateY(-12%) rotate(20deg);
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: auto;
      bottom: 0; }

.contact {
  background: #f2eee6;
  width: 100%;
  height: 49.67rem;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 8.33rem 0 8rem;
  overflow: hidden; }
  .contact__title {
    font-family: "Optima", "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
    color: #d68f4c;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    @media (max-width: 768px) {
      .contact__title {
        font-size: 1rem; } }
    .contact__title::before {
      content: "";
      display: block;
      width: 1.6rem;
      height: 0;
      border-radius: 0;
      border-top: 0.07rem solid #d68f4c;
      transform: translate(-0.27rem, -0.2rem) rotate(110deg); }
  .contact__btn {
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
    .contact__btn:hover .btn__icon {
      transition: background 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .contact__btn:hover .btn__icon::before {
        animation: ripple-big 1s cubic-bezier(0.5, 1, 0.89, 1); }
      .contact__btn:hover .btn__icon::after {
        animation: ripple-big 1s 0.5s cubic-bezier(0.5, 1, 0.89, 1); }
    .contact__btn:hover .btn__image::before {
      opacity: 0;
      transform: translateY(-50%) rotate(-12deg); }
    .contact__btn:hover .btn__image::after {
      opacity: 1;
      transform: translate(0%, 0%) rotate(0deg); }
    .contact__btn .btn__icon {
      width: 9.6rem;
      height: 9.6rem;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0);
      transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .contact__btn .btn__icon::before, .contact__btn .btn__icon::after {
        content: "";
        display: block;
        width: 9.6rem;
        height: 9.6rem;
        border-radius: 50%;
        position: absolute;
        margin: auto;
        left: 50%;
        top: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        opacity: 0; }
    .contact__btn .btn__image::before, .contact__btn .btn__image::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0;
      position: absolute;
      margin: auto;
      left: auto;
      top: 0;
      right: 0;
      bottom: auto;
      -webkit-mask: url("../images/mail.svg");
      mask: url("../images/mail.svg");
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center center; }
    .contact__btn .btn__image::before {
      opacity: 1;
      transform: translate(0%, 0%) rotate(0deg);
      transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .contact__btn .btn__image::after {
      opacity: 0;
      transform: translateY(50%) rotate(12deg);
      transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .contact__btn:hover .btn__icon {
      background: #dbbb76; }
    .contact__btn .btn__icon {
      background: #dfad77;
      box-shadow: 0 0.27rem 2.13rem -0.53rem rgba(172, 172, 172, 0.2); }
      .contact__btn .btn__icon::before {
        border: 0.07rem solid #dfad77; }
      .contact__btn .btn__icon::after {
        border: 0.07rem solid #dbbb76; }
    .contact__btn .btn__image {
      width: 2.33rem;
      height: 1.67rem;
      border-radius: 0; }
      .contact__btn .btn__image::before {
        background: #ffffff; }
      .contact__btn .btn__image::after {
        background: #ffffff; }
    .contact__btn .btn__text::before {
      color: #505050; }
    .contact__btn .btn__text::after {
      color: #dbbb76; }
  .contact__line {
    width: 20.47rem;
    height: 0;
    border-radius: 0;
    border-top: 0.07rem solid #d68f4c; }
  .contact__circle {
    width: 46.13rem;
    height: 46.13rem;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translate(3.5%, 14%); }
    .contact__circle svg {
      width: 100%;
      height: auto;
      border-radius: 0; }
  .contact__can {
    width: auto;
    height: 49.33rem;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
    .contact__can picture,
    .contact__can img {
      width: auto;
      height: 100%;
      border-radius: 0; }

.footer {
  padding: 8rem 8rem 3.33rem 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; }
  .footer__brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
    .footer__brand:hover .brand__original::before,
    .footer__brand:hover .brand__registered::before {
      transform: translateY(-120%) rotate(-12deg); }
    .footer__brand:hover .brand__original::after,
    .footer__brand:hover .brand__registered::after {
      transform: translateY(0) rotate(0deg); }
    .footer__brand .brand__original, .footer__brand .brand__registered {
      overflow: hidden; }
      .footer__brand .brand__original::before, .footer__brand .brand__original::after, .footer__brand .brand__registered::before, .footer__brand .brand__registered::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0;
        position: absolute;
        margin: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0; }
      .footer__brand .brand__original::before, .footer__brand .brand__registered::before {
        background: #131313;
        transform: translateY(0%) rotate(0deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .footer__brand .brand__original::after, .footer__brand .brand__registered::after {
        background: #d68f4c;
        transform: translateY(120%) rotate(12deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .footer__brand .brand__original {
      width: 7.13rem;
      height: 2.12rem;
      border-radius: 0; }
      .footer__brand .brand__original::before, .footer__brand .brand__original::after {
        -webkit-mask: url("../images/original.svg");
        mask: url("../images/original.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center center; }
    .footer__brand .brand__registered {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 0;
      margin-left: 0.47rem; }
      .footer__brand .brand__registered::before, .footer__brand .brand__registered::after {
        -webkit-mask: url("../images/registered.svg");
        mask: url("../images/registered.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center center; }
    .footer__brand svg path {
      fill: transparent; }
  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; }
  .footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Optima", "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
    text-transform: capitalize;
    margin-left: 12rem; }
    .footer__nav .nav__item + .nav__item {
      margin: 0 2rem; }
      .footer__nav .nav__item + .nav__item::before {
        content: "";
        display: block;
        width: 0;
        height: 16px;
        border-radius: 0;
        border-left: 0.07rem solid rgba(19, 19, 19, 0.3);
        transform: translateY(-15%) rotateZ(20deg);
        position: absolute;
        margin: auto;
        left: -1rem;
        top: 0;
        right: auto;
        bottom: 0; }
    .footer__nav .nav__link {
      display: block;
      width: auto;
      height: 1.3rem;
      border-radius: 0;
      color: transparent;
      overflow: hidden; }
      .footer__nav .nav__link::before, .footer__nav .nav__link::after {
        content: attr(data-text);
        display: block;
        position: absolute;
        margin: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0; }
      .footer__nav .nav__link::before {
        transform: translateY(0%) rotate(0deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .footer__nav .nav__link::after {
        transform: translateY(150%) rotate(12deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .footer__nav .nav__link:hover::before {
        transform: translateY(-150%) rotate(-12deg); }
      .footer__nav .nav__link:hover::after {
        transform: translateY(0) rotate(0deg); }
      .footer__nav .nav__link::before {
        color: #505050; }
      .footer__nav .nav__link::after {
        color: #d68f4c; }
  .footer__copyright {
    font-family: "Optima", "Inter", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
    color: #505050;
    text-transform: capitalize; }

/*# sourceMappingURL=styles.css.map */
