@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: 400;
  src: local("Optima"), url("../fonts/OptimaLTPro-Medium.otf") format("opentype"); }
@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: bold;
  src: local("Optima"), url("../fonts/OptimaLTPro-bold.otf") format("opentype"); }
html,
body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0;
  line-height: 0;
  color: #505050;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
  scroll-behavior: smooth; }

html *,
html *::before,
html *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
  color: inherit; }
  html *:focus,
  html *::before:focus,
  html *::after:focus {
    outline: none;
    box-shadow: none; }
html ol,
html ul {
  list-style: none; }
html blockquote,
html q {
  quotes: none; }
html blockquote:before,
html blockquote:after,
html q:before,
html q:after {
  content: "";
  content: none; }
html table {
  border-collapse: collapse;
  border-spacing: 0; }
html img {
  object-fit: contain;
  line-height: 0; }
html input {
  caret-color: #505050; }
html a {
  color: inherit;
  text-decoration: none; }
html .is-hidden {
  display: none !important; }
html .is-unvisible {
  opacity: 0 !important;
  pointer-events: none !important; }
html header {
  z-index: 10; }

.navbar {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  padding: 32px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navbar__brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
    .navbar__brand:hover .brand__original::before,
    .navbar__brand:hover .brand__registered::before {
      transform: translateY(-120%) rotate(-12deg); }
    .navbar__brand:hover .brand__original::after,
    .navbar__brand:hover .brand__registered::after {
      transform: translateY(0); }
    .navbar__brand .brand__original, .navbar__brand .brand__registered {
      overflow: hidden; }
      .navbar__brand .brand__original::before, .navbar__brand .brand__original::after, .navbar__brand .brand__registered::before, .navbar__brand .brand__registered::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0;
        position: absolute;
        margin: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0; }
      .navbar__brand .brand__original::before, .navbar__brand .brand__registered::before {
        background: #205288;
        transform: translateY(0%) rotate(0deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .navbar__brand .brand__original::after, .navbar__brand .brand__registered::after {
        background: #d68f4c;
        transform: translateY(120%) rotate(12deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .navbar__brand .brand__original {
      width: 106px;
      height: 32px;
      border-radius: 0; }
      .navbar__brand .brand__original::before, .navbar__brand .brand__original::after {
        -webkit-mask: url("../images/original.svg");
        mask: url("../images/original.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center center; }
    .navbar__brand .brand__registered {
      width: 11px;
      height: 12px;
      border-radius: 0;
      margin-left: 7px; }
      .navbar__brand .brand__registered::before, .navbar__brand .brand__registered::after {
        -webkit-mask: url("../images/registered.svg");
        mask: url("../images/registered.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center center; }
    .navbar__brand svg path {
      fill: transparent; }
  .navbar__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-transform: capitalize;
    padding: 20px 40px 14px 40px;
    border-radius: 9999px;
    background: #f0ede8; }
    .navbar__nav .nav__item + .nav__item {
      margin-left: 40px; }
    .navbar__nav .nav__item + .nav__dash {
      margin-left: 15px;
      margin-right: 20px; }
    .navbar__nav .nav__link {
      font-family: "Optima", "Inter", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 20px;
      border-radius: 0;
      color: transparent;
      overflow: hidden; }
      .navbar__nav .nav__link::before, .navbar__nav .nav__link::after {
        content: attr(data-text);
        display: block;
        position: absolute;
        margin: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0; }
      .navbar__nav .nav__link::before {
        transform: translateY(0%) rotate(0deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .navbar__nav .nav__link::after {
        transform: translateY(150%) rotate(12deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .navbar__nav .nav__link:hover::before {
        transform: translateY(-150%) rotate(-12deg); }
      .navbar__nav .nav__link:hover::after {
        transform: translateY(0); }
      .navbar__nav .nav__link::before {
        color: #131313; }
      .navbar__nav .nav__link::after {
        color: #d68f4c; }
      .navbar__nav .nav__link:hover .nav__icon::before {
        transform: translateY(-150%) rotate(-12deg); }
      .navbar__nav .nav__link:hover .nav__icon::after {
        transform: translateY(0); }
    .navbar__nav .nav__icon {
      width: 12px;
      height: 20px;
      border-radius: 0;
      margin-right: 7px;
      overflow: hidden; }
      .navbar__nav .nav__icon::before, .navbar__nav .nav__icon::after {
        content: "";
        display: block;
        width: 100%;
        height: 15px;
        border-radius: 0;
        position: absolute;
        margin: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: auto;
        -webkit-mask: url("../images/shop.svg");
        mask: url("../images/shop.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center center; }
      .navbar__nav .nav__icon::before {
        background: #131313;
        transform: translateY(0%) rotate(0deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
      .navbar__nav .nav__icon::after {
        background: #d68f4c;
        transform: translateY(150%) rotate(12deg);
        transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
    .navbar__nav .nav__line {
      width: 24px;
      height: 0;
      border-radius: 0;
      border: 1px solid #dfad77;
      transform: translateY(-3px) matrix(-0.34, 0.94, 0.94, 0.34, 0, 0); }

.concept {
  background: #dfad77;
  padding-top: calc(178px - 120px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .concept__topImage {
    width: 420px;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: auto; }
    .concept__topImage picture,
    .concept__topImage img {
      width: 100%;
      height: auto;
      border-radius: 0; }
  .concept__swiper {
    flex: 0 0 708px;
    width: 708px;
    height: 967px;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(120px);
    margin: 0; }
    .concept__swiper picture,
    .concept__swiper img {
      width: 100%;
      height: 100%;
      border-radius: 0; }
    .concept__swiper .slide__image {
      transform: scale(1.1);
      filter: blur(6px);
      transition: filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), transform 0.6s 0.3s cubic-bezier(0.5, 1, 0.89, 1); }
    .concept__swiper .slide__text {
      font-family: "Optima", "Inter", sans-serif;
      font-size: 120px;
      font-weight: 400;
      line-height: 156px;
      letter-spacing: 0;
      color: transparent;
      text-transform: capitalize;
      mix-blend-mode: overlay;
      position: absolute;
      margin: auto;
      left: 72px;
      top: auto;
      right: 72px;
      bottom: 34px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      @media (max-width: 1024px) {
        .concept__swiper .slide__text {
          font-size: 80px;
          line-height: 80px; } }
      .concept__swiper .slide__text span {
        width: 100%;
        height: 146px;
        border-radius: 0;
        overflow: hidden; }
        @media (max-width: 1024px) {
          .concept__swiper .slide__text span {
            width: 100%;
            height: 72px;
            border-radius: 0; } }
        .concept__swiper .slide__text span::before {
          content: attr(data-text);
          display: block;
          color: #dfad77;
          position: absolute;
          margin: auto;
          left: 0;
          top: 0;
          right: auto;
          bottom: auto;
          transform: translateY(150%) rotate(12deg); }
        .concept__swiper .slide__text span:nth-child(1)::before {
          transition: all 0.6s 0.6s cubic-bezier(0.33, 1, 0.68, 1); }
        .concept__swiper .slide__text span:nth-child(2)::before {
          transition: all 0.6s 0.65s cubic-bezier(0.33, 1, 0.68, 1); }
        .concept__swiper .slide__text span:nth-child(3)::before {
          transition: all 0.6s 0.7s cubic-bezier(0.33, 1, 0.68, 1); }
    .concept__swiper .swiper-slide-active .slide__image {
      transform: scale(1);
      filter: blur(0px); }
    .concept__swiper .swiper-slide-active .slide__text span::before {
      transform: translateY(0%) rotate(0deg); }
  .concept__title {
    font-family: "Optima", "Inter", sans-serif;
    font-size: 96px;
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: capitalize;
    width: 486px;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 120px; }
    @media (max-width: 1024px) {
      .concept__title {
        font-size: 56px;
        line-height: 48px; } }
  .concept__content {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    color: #ffffff;
    width: 282px;
    height: auto;
    border-radius: 0;
    margin-top: 79px; }

/*# sourceMappingURL=styles.css.map */
