[data-aos="ani-title"] {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1.2s;
  transition-delay: 0;
  transition-timing-function: $ease-outCubic !important;
  &.aos-animate {
    opacity: 1;
  }
}

[data-aos="ani-rotate"] {
  opacity: 0;
  transform: translate(3.5%, 14%) rotate(-120deg) !important;
  transition-property: opacity, transform;
  transition-duration: 1.2s, 2.4s !important;
  transition-delay: 1.2s, 1.8s;
  transition-timing-function: $ease-inCubic, $ease-outCubic !important;
  @media (max-width: $md) {
    transform: translate(-3%, 32%) rotate(-120deg) !important;
  }
  &.aos-animate {
    opacity: 1;
    transform: translate(3.5%, 14%) rotate(0deg) !important;
    @media (max-width: $md) {
      transform: translate(-3%, 32%) rotate(0deg) !important;
    }
  }
}

[data-aos="ani-fade-left"] {
  opacity: 0;
  transform: translateX(60%);
  transition-property: opacity, transform;
  transition-duration: 1.6s, 1.6s !important;
  transition-delay: 1s, 1s;
  transition-timing-function: $ease-inCubic, $ease-outCubic !important;
  @media (max-width: $md) {
    transform: translateX(60%);
    transition-delay: 0s, 0s;
  }
  &.aos-animate {
    opacity: 1;
    transform: translate(0%);
  }
}
[data-aos="ani-fade-down"] {
  opacity: 0;
  transform: translateY(-60%);
  transition-property: opacity, transform;
  transition-duration: 1.6s, 1.6s !important;
  transition-delay: 0.8s, 0.8s;
  transition-timing-function: $ease-inCubic, $ease-outCubic !important;
  @media (max-width: $md) {
    transform: translateX(60%);
    transition-delay: 0s, 0s;
  }
  &.aos-animate {
    opacity: 1;
    transform: translate(0%);
  }
}
[data-aos="ani-fade-right"] {
  opacity: 0;
  transform: translateX(-60%);
  transition-property: opacity, transform;
  transition-duration: 1.6s, 1.6s !important;
  transition-delay: 1s, 1s;
  transition-timing-function: $ease-inCubic, $ease-outCubic !important;
  @media (max-width: $md) {
    transform: translateX(-60%);
    transition-delay: 0s, 0s;
  }
  &.aos-animate {
    opacity: 1;
    transform: translate(0%);
  }
}
[data-aos="ani-fade-up"] {
  opacity: 0;
  transform: translateY(60%);
  transition-property: opacity, transform;
  transition-duration: 1.6s, 1.6s !important;
  transition-delay: 0.8s, 0.8s;
  transition-timing-function: $ease-inCubic, $ease-outCubic !important;
  @media (max-width: $md) {
    transform: translateX(-60%);
    transition-delay: 0s, 0s;
  }
  &.aos-animate {
    opacity: 1;
    transform: translate(0%);
  }
}
