.collection {
  margin: 29.2rem auto 0 auto;
  @include rect(80rem, auto);
  @media (max-width: $md) {
    margin: 8rem 1.6rem 0 1.6rem;
    @include rect(calc(100% - 3.2rem), auto);
  }
  &__title {
    @include section-title;
  }
  &__gallery {
    margin: auto;
    margin-top: -2.08rem;
    @include flex(row, flex-start);
    @media (max-width: $md) {
      margin-top: 1.6rem;
      @include flex(column);
    }
    .gallery {
      &__item {
        > div {
          overflow: hidden;
        }
        img {
          object-fit: cover;
          transition: all 0.6s $ease-outQuad;
        }
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
        & + .gallery__item {
          margin-left: 1.6rem;
          @media (max-width: $md) {
            margin-left: 0;
            margin-top: 0.6rem !important;
          }
        }
        &:nth-child(1) {
          > div {
            @include img(18.8rem, 24.27rem);
            @media (max-width: $md) {
              @include img(20.8rem, 24.33rem);
            }
          }
        }
        &:nth-child(2) {
          > div {
            @include img(32.4rem, 43.67rem);
            @media (max-width: $md) {
              @include img(20.8rem, 24.33rem);
            }
          }
        }
        &:nth-child(3) {
          @include rect(25.6rem, 19.73rem);
          @include poa(l, 0, 0, 0);
          transform: translateY(calc(-100% - 1.6rem));
          @media (max-width: $md) {
            @include img(20.8rem, 24.33rem);
            position: relative;
            transform: translateY(0);
          }
          > div {
            @include img(25.6rem, 19.73rem);
            @media (max-width: $md) {
              @include img(20.8rem, 24.33rem);
            }
          }
        }
        &:nth-child(4) {
          > div {
            @include img(18.8rem, 20.07rem);
            @media (max-width: $md) {
              @include img(20.8rem, 24.33rem);
            }
          }
        }
      }
      &__link {
        @include rect(12rem, 3.47rem, 9999px);
        background: $c-primary4;
        z-index: 1;
        @include poa(0, t, 0, 1.6rem);
        @include ani-text-btn;
        box-shadow: 0 0.27rem 2.13rem -0.53rem $c-shadow;
        &::before {
          border: 1px solid $c-primary4;
        }
        &::after {
          border: 1px solid $c-primary2;
        }
        &:hover {
          background: $c-primary2;
        }
        &:active {
          background: $c-primary0;
          &::after {
            border: 1px solid $c-primary0;
          }
        }
      }
      &__linkText {
        @include font-body-2;
        text-transform: capitalize;
        transform: translateY(10%);
        &::before {
          color: $c-gray1;
        }
        &::after {
          color: $c-white;
        }
      }
    }
  }
  &__btnGroup {
    @include rect(100%, auto);
    margin-top: 0.4rem;
    @include flex(column, flex-start, flex-end);
    @include font-button;
    color: $c-gray1;
    transition: opacity 1.2s 0.6s $ease-inCubic,
      transform 1.2s 0.6s $ease-outCubic !important;
    @media (max-width: $md) {
      margin-top: 2.73rem;
    }
  }
  &__btn {
    @include flex(row, flex-start, center);
    @include ani-icon-btn;
    &:hover {
      .btn {
        &__icon {
          border: 1px solid rgba($c-black, 0);
          background: $c-primary2;
        }
      }
    }
    &:active {
      .btn {
        &__icon {
          border: 1px solid rgba($c-black, 0);
          background: $c-primary0;
          &::after {
            border: 1px solid $c-primary0;
          }
        }
        &__text {
          &::after {
            color: $c-primary0;
          }
        }
      }
    }
    .btn {
      &__icon {
        border: 1px solid $c-black-op03;
        background: rgba($c-primary2, 0);
        &::before {
          border: 1px solid $c-black-op03;
        }
        &::after {
          border: 1px solid $c-primary2;
        }
      }
      &__image {
        @include rect(1.2rem, 0.6rem);
        &::before {
          background: $c-gray1;
        }
        &::after {
          background: $c-white;
        }
      }
      &__text {
        &::before {
          color: $c-gray1;
        }
        &::after {
          color: $c-primary2;
        }
      }
    }
  }
}
