.concept {
  background: $c-primary1;
  padding-top: 3.87rem;
  @include flex(row, flex-start, flex-start);
  @media (max-width: $md) {
    padding-top: 7.93rem;
    @include flex(column, flex-start, flex-start);
  }
  &__topImage {
    @include img(28rem, auto);
    @include poa(l, 0, 0, b);
    transition: opacity 1.2s 1.2s $ease-inCubic, filter 0.6s 1.2s $ease-inCubic,
      transform 1.2s 1.2s $ease-outCubic;
    @media (max-width: $md) {
      @include img(10.53rem, auto);
    }
  }
  &__swiper {
    flex: 0 0 47.2rem;
    @include rect(47.2rem, 64.47rem);
    transform: translateY(8rem);
    margin: 0;
    transition: opacity 0.6s 1.2s $ease-inCubic,
      transform 1.8s 1.2s $ease-outCubic;
    @media (max-width: $md) {
      flex: 0 0 27.8rem;
      @include rect(20.33rem, 27.8rem);
      transform: translateY(0rem);
    }
    .slide {
      &__image {
        @include img(100%, auto);
        transform: scale(1.1);
        filter: blur(0.4rem);
        transition: filter 0.6s $ease-outQuad, transform 0.6s 0.3s $ease-outQuad;
      }
      &__text {
        @include font-display-1;
        color: transparent;
        text-transform: capitalize;
        mix-blend-mode: overlay;
        @include poa(4.8rem, t, 4.8rem, 2.27rem);
        @include flex(column, flex-start, flex-start);
        @media (max-width: $md) {
          display: none;
        }
        span {
          @include rect(100%, 9.73rem);
          overflow: hidden;
          @media (max-width: $md) {
            @include rect(100%, 4.8rem);
          }
          &::before {
            @include beaf(attr(data-text));
            color: $c-primary1;
            @include poa(0, 0, r, b);
            transform: translateY(160%) rotate(12deg);
            @media (max-width: $md) {
              transform: translateY(160%) rotate(6deg);
            }
          }
          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              &::before {
                transition: all 0.6s ($i - 1 + 12) * 0.05s $ease-outCubic;
                @media (max-width: $md) {
                  transition: none;
                }
              }
            }
          }
        }
      }
    }
    .swiper-slide {
      &-active {
        .slide {
          &__image {
            transform: scale(1);
            filter: blur(0rem);
          }
          &__text {
            span {
              &::before {
                transform: translateY(0%) rotate(0deg);
              }
            }
          }
        }
      }
    }
  }
  &__info {
    @include rect(32.4rem, auto);
    @include flex(column, flex-start, flex-end);
    margin-left: 8.4rem;
    margin-top: 19.73rem;
    @media (max-width: $md) {
      @include rect(calc(100vw - 3.2rem), auto);
      margin: 0 auto;
      padding-top: 1.6rem;
      z-index: 5;
    }
  }
  &__tag {
    @include section-title($c-white);
    transform-origin: left top;
    transform: translateY(-0.8rem) rotate(90deg);
    @include poa(-4.67rem, 0, r, b);
    @media (max-width: $md) {
      transform: translateX(1rem) rotate(90deg);
      @include poa(0, -20.63rem, r, b);
    }
  }
  &__title {
    @include font-heading-1;
    color: transparent;
    text-transform: capitalize;
    @include rect(32.4rem, auto);
    @include flex(column, flex-start, flex-start);
    transform: translateY(-0.87rem);
    @media (max-width: $md) {
      @include poa(l, -9.63rem, 0, b);
      @include rect(15rem, auto);
      transform: translateY(-100%);
    }
    span {
      @include rect(100%, 6.4rem);
      overflow: hidden;
      @media (max-width: $md) {
        @include rect(100%, 3.73rem);
      }
      &::before {
        @include beaf(attr(data-text));
        color: $c-white;
        @include poa(0, 0, r, b);
        transform: translateY(12%) rotate(0deg);
      }
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          transform: translateY(($i - 1) * -0.87rem);
          @media (max-width: $md) {
            transform: translateY(($i - 1) * -0.4rem);
          }
          &::before {
            transition: all 1.2s ($i - 1 + 16) * 0.05s $ease-outCubic;
          }
        }
      }
    }
  }
  &__content {
    @include font-body-1;
    color: $c-white;
    @include rect(18.8rem, auto);
    margin-top: calc(-0.87rem * 3 + 5.27rem);
    transition: opacity 1.2s 1.2s $ease-inCubic,
      transform 1.2s 1.2s $ease-outCubic;
    @media (max-width: $md) {
      margin-top: 0;
      @include rect(100%, auto);
    }
  }
  &__btnGroup {
    @include rect(18.8rem, auto);
    margin-top: 3.2rem;
    @include flex(column, flex-start, flex-start);
    @include font-button;
    color: $c-white;
    transition: opacity 1.2s 1.4s $ease-inCubic,
      transform 1.2s 1.4s $ease-outCubic;
    @media (max-width: $md) {
      @include rect(100%, auto);
      margin-top: 2.13rem;
      margin-bottom: 2.67rem;
    }
  }
  &__btn {
    @include flex(row, flex-start, center);
    @include ani-icon-btn;
    &:hover {
      .btn {
        &__icon {
          border: 1px solid rgba($c-white, 0);
          background: $c-white;
        }
      }
    }
    &:active,
    &:focus {
      .btn {
        &__icon {
          border: 1px solid rgba($c-white, 0);
          background: $c-primary3;
          &::after {
            border: 1px solid $c-primary3;
          }
        }
      }
    }
    .btn {
      &__icon {
        border: 1px solid $c-white;
        background: rgba($c-white, 0);
        &::before,
        &::after {
          border: 1px solid $c-white;
        }
      }
      &__image {
        @include rect(1.2rem, 0.6rem);
        &::before {
          background: $c-white;
        }
        &::after {
          background: $c-primary0;
        }
      }
      &__text {
        &::before {
          color: $c-white;
        }
        &::after {
          color: $c-white;
        }
      }
    }
  }
}

body.is-unOpening {
  .concept {
    &__title {
      span {
        &::before {
          transform: translateY(170%) rotate(12deg);
          @media (max-width: $md) {
            transform: translateY(200%) rotate(6deg);
          }
        }
      }
    }
    &__content {
      transform: translateY(60%);
      opacity: 0;
    }
    &__btnGroup {
      transform: translateY(60%);
      opacity: 0;
    }
    &__swiper {
      transform: translateY(30%);
      opacity: 0;
    }
    &__topImage {
      transform: translateY(-60%);
      opacity: 0;
      filter: blur(3px) brightness(110%);
    }
  }
}
