.footer {
  padding: 8rem 8rem 3.33rem 8rem;
  @include flex(row, space-between, flex-end);
  @media (max-width: $md) {
    padding: 2.27rem 1.6rem 3.73rem 1.6rem;
    @include flex(column, flex-start, flex-start);
  }
  &__brand {
    @include flex(row, flex-start, flex-start);
    &:hover {
      .brand__original,
      .brand__registered {
        &::before {
          transform: translateY(-120%) rotate(-12deg);
          @media (max-width: $md) {
            transform: translateY(-120%) rotate(-6deg);
          }
        }
        &::after {
          transform: translateY(0) rotate(0deg);
        }
      }
    }
    .brand {
      &__original,
      &__registered {
        overflow: hidden;
        &::before,
        &::after {
          @include beaf;
          @include rect;
          @include poa(l, 0, 0, 0);
        }
        &::before {
          background: $c-black;
          transform: translateY(0%) rotate(0deg);
          transition: all 0.6s $ease-outCubic;
        }
        &::after {
          background: $c-primary0;
          transform: translateY(120%) rotate(12deg);
          transition: all 0.6s $ease-outCubic;
          @media (max-width: $md) {
            transform: translateY(120%) rotate(6deg);
          }
        }
      }
      &__original {
        @include rect(7.13rem, 2.12rem);
        @media (max-width: $md) {
          @include rect(5.46rem, 1.63rem);
        }
        &::before,
        &::after {
          -webkit-mask: url("../images/original.svg");
          mask: url("../images/original.svg");
          @include mask;
        }
      }
      &__registered {
        @include rect(0.8rem, 0.8rem);
        margin-left: 0.47rem;
        @media (max-width: $md) {
          @include rect(0.53rem, 0.53rem);
          margin-left: 0.47rem;
        }
        &::before,
        &::after {
          -webkit-mask: url("../images/registered.svg");
          mask: url("../images/registered.svg");
          @include mask;
        }
      }
    }
    svg path {
      fill: transparent;
    }
  }
  &__links {
    @include flex(row, flex-start, flex-end);
    @media (max-width: $md) {
      @include flex(column, flex-start, flex-start);
    }
  }
  &__nav {
    @include flex;
    @include font-body-2;
    margin-left: 12rem;
    @media (max-width: $md) {
      margin-left: 0;
      margin-top: 1.6rem;
      margin-bottom: 4.8rem;
    }
    .nav {
      &__item {
        & + .nav__item {
          margin: 0 2rem;
          &::before {
            @include beaf;
            @include rect(0, 1.07rem);
            border-left: 1px solid $c-black-op03;
            transform: translateY(-15%) rotateZ(20deg);
            @include poa(-1rem, 0, r, 0);
            @media (max-width: $md) {
              @include rect(0, 1.07rem);
            }
          }
        }
      }
      &__link {
        display: block;
        @include ani-text(1.3rem);
        &::before {
          color: $c-gray1;
        }
        &::after {
          color: $c-primary0;
        }
      }
    }
  }
  &__copyright {
    @include font-minium;
    color: $c-gray1;
    text-transform: capitalize;
  }
}
