.marquee {
  @include rect(100%, auto);
  margin: 4.67rem auto 0 auto;
  padding-bottom: 13.27rem;
  @media (max-width: $md) {
    margin: 6.67rem auto 0 auto;
    padding-bottom: 11.8rem;
  }
  &__title {
    @include section-title;
    @include rect(80rem, auto);
    margin: auto;
    @media (max-width: $md) {
      display: none;
    }
  }
  &__wrap {
    @include rect(100%, auto);
    @include flex(column, flex-start, flex-start);
    margin: 6.53rem 0 0 0;
    border-top: 1px solid $c-black-op01;
    border-bottom: 1px solid $c-black-op01;
    @media (max-width: $md) {
      margin: 6.67rem 0 0 0;
    }
  }
  &__item {
    @include font-display-1;
    color: $c-primary2;
    text-transform: capitalize;
    @include flex(row, flex-start, flex-start);
    padding: 0.53rem 0;
    @media (max-width: $md) {
      padding: 1.07rem 0;
    }
    & + .marquee__item {
      border-top: 1px solid $c-black-op01;
    }
    &:nth-child(2n + 1) {
      animation: marquee 12s linear infinite;
    }
    &:nth-child(2n) {
      animation: marquee 12s reverse linear infinite;
    }
    @keyframes marquee {
      0% {
        transform: translateX(-50%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  }
  &__group {
    @include flex(row, flex-start, flex-start);
    padding: 0 1rem;
  }
  &__text {
    white-space: nowrap;
    padding: 0 3.23rem;
    @media (max-width: $md) {
      padding: 0 1.63rem;
    }
    & + .marquee__text {
      &::before {
        @include beaf;
        @include rect(0, 6.4rem);
        border-left: 1px solid $c-primary2;
        transform: translateY(-12%) rotate(20deg);
        @include poa(0, 0, r, 0);
        @media (max-width: $md) {
          @include rect(0, 3.27rem);
        }
      }
    }
  }
}
