.navbar {
  @include poa(0, 0, 0, b);
  padding: 2.12rem 3.2rem;
  @include flex(row, space-between);
  transition: opacity 0.6s $ease-inCubic, transform 1.2s $ease-outCubic;
  @media (max-width: $md) {
    padding: 1.07rem 1.5rem;
  }
  &__brand {
    @include flex(row, flex-start, flex-start);
    &:hover {
      .brand__original,
      .brand__registered {
        &::before {
          transform: translateY(-120%) rotate(-12deg);
          @media (max-width: $md) {
            transform: translateY(-120%) rotate(-6deg);
          }
        }
        &::after {
          transform: translateY(0) rotate(0deg);
        }
      }
    }
    .brand {
      &__original,
      &__registered {
        overflow: hidden;
        &::before,
        &::after {
          @include beaf;
          @include rect;
          @include poa(l, 0, 0, 0);
        }
        &::before {
          background: #205288;
          transform: translateY(0%) rotate(0deg);
          transition: all 0.6s $ease-outCubic;
        }
        &::after {
          background: $c-primary0;
          transform: translateY(120%) rotate(12deg);
          transition: all 0.6s $ease-outCubic;
          @media (max-width: $md) {
            transform: translateY(120%) rotate(6deg);
          }
        }
      }
      &__original {
        @include rect(7.13rem, 2.12rem);
        @media (max-width: $md) {
          @include rect(5.46rem, 1.63rem);
        }
        &::before,
        &::after {
          -webkit-mask: url("../images/original.svg");
          mask: url("../images/original.svg");
          @include mask;
        }
      }
      &__registered {
        @include rect(0.8rem, 0.8rem);
        margin-left: 0.47rem;
        @media (max-width: $md) {
          @include rect(0.53rem, 0.53rem);
          margin-left: 0.47rem;
        }
        &::before,
        &::after {
          -webkit-mask: url("../images/registered.svg");
          mask: url("../images/registered.svg");
          @include mask;
        }
      }
    }
    svg path {
      fill: transparent;
    }
  }
  &__toggler {
    display: none;
    @include rect(3.2rem, 2.8rem, 9999px);
    padding: 1.07rem;
    background: $c-primary4;
    @media (max-width: $md) {
      @include flex(column, space-between, flex-end);
    }
    .toggler {
      &__line {
        &:nth-child(1) {
          @include rect(1rem, 0);
          border-top: 1px solid $c-primary0;
        }
        &:nth-child(2) {
          @include rect(1rem, 0);
          border-top: 1px solid $c-primary0;
        }
        &:nth-child(3) {
          @include rect(0.67rem, 0);
          border-top: 1px solid $c-primary0;
        }
      }
    }
  }
  &__collapse {
    display: block;
    @media (max-width: $md) {
      display: none;
    }
  }
  &__nav {
    @include flex(row, flex-end);
    text-transform: capitalize;
    padding: 1.3rem 2.67rem 0.93rem 2.67rem;
    border-radius: 9999px;
    background: $c-primary4;
    .nav {
      &__item {
        & + .nav__item {
          margin-left: 2.67rem;
        }
        & + .nav__dash {
          margin-left: 1rem;
          margin-right: 1.3rem;
        }
      }
      &__link {
        @include font-body-2;
        @include flex;
        @include ani-text(1.3rem);
        &::before {
          color: $c-black;
        }
        &::after {
          color: $c-primary0;
        }
        &:hover {
          .nav__icon {
            &::before {
              transform: translateY(-160%) rotate(-12deg);
              @media (max-width: $md) {
                transform: translateY(-160%) rotate(6deg);
              }
            }
            &::after {
              transform: translateY(0) rotate(0deg);
            }
          }
        }
      }
      &__icon {
        @include rect(0.8rem, 1.3rem);
        margin-right: 0.47rem;
        overflow: hidden;
        &::before,
        &::after {
          @include beaf;
          @include rect(100%, 1rem);
          @include poa(l, 0, 0, b);
          -webkit-mask: url("../images/shop.svg");
          mask: url("../images/shop.svg");
          @include mask;
        }
        &::before {
          background: $c-black;
          transform: translateY(0%) rotate(0deg);
          transition: all 0.6s $ease-outCubic;
        }
        &::after {
          background: $c-primary0;
          transform: translateY(160%) rotate(12deg);
          transition: all 0.6s $ease-outCubic;
          @media (max-width: $md) {
            transform: translateY(160%) rotate(6deg);
          }
        }
      }
      &__line {
        @include rect(1.6rem, 0);
        border-top: 1px solid $c-primary1;
        transform: translateY(-0.2rem) matrix(-0.34, 0.94, 0.94, 0.34, 0, 0);
      }
    }
  }
}

body.is-unOpening {
  .navbar {
    opacity: 0;
    transform: translateY(-60%);
  }
}
