.navbar {
  padding: 32px 48px;
  @include flex(row, space-between);
  &__brand {
    @include flex(row, flex-start, flex-start);
    .brand {
      &__original {
        @include rect(auto, 32px);
      }
      &__registered {
        @include rect(auto, 12px);
        margin-left: 7px;
      }
    }
    svg path {
      fill: #205288;
    }
  }
  &__nav {
    @include flex(row, flex-end);
    text-transform: capitalize;
    padding: 17px 40px;
    border-radius: 9999px;
    background: $c-primary4;
    .nav {
      &__item {
        & + .nav__item {
          margin-left: 40px;
        }
        & + .nav__dash {
          margin-left: 15px;
          margin-right: 20px;
        }
      }
      &__link {
        @include rect(auto, 20px);
        @include font-body-2;
        color: transparent;
        @include flex;
        overflow: hidden;
        &::before,
        &::after {
          @include beaf(attr(data-text));
          @include poa(l, 0, 0, 0);
        }
        &::before {
          color: $c-black;
          transform: translateY(0%);
          transition: all 0.6s $ease-out;
        }
        &::after {
          color: $c-primary0;
          transform: translateY(120%) rotate(6deg);
          transition: all 0.6s $ease-out;
        }
        &:hover {
          &::before {
            transform: translateY(-120%) rotate(-6deg);
          }
          &::after {
            transform: translateY(0);
          }
          .nav__icon {
            &::before {
              transform: translateY(-120%) rotate(-6deg);
            }
            &::after {
              transform: translateY(0);
            }
          }
        }
      }
      &__icon {
        @include rect(12px, 15px);
        margin-right: 7px;
        overflow: hidden;
        &::before,
        &::after {
          @include beaf;
          @include rect;
          @include poa(l, 0, 0, 0);
          -webkit-mask: url("../images/shop.svg");
          mask: url("../images/shop.svg");
          @include mask;
        }
        &::before {
          background: $c-black;
          transform: translateY(0%);
          transition: all 0.6s $ease-out;
        }
        &::after {
          background: $c-primary0;
          transform: translateY(120%) rotate(6deg);
          transition: all 0.6s $ease-out;
        }
      }
      &__line {
        @include rect(24px, 0);
        border: 1px solid $c-primary1;
        transform: matrix(-0.34, 0.94, 0.94, 0.34, 0, 0);
      }
    }
  }
}
