.navbar {
  @include poa(0, 0, 0, b);
  padding: 2.12rem 3.2rem;
  @include flex(row, space-between);
  &__brand {
    @include flex(row, flex-start, flex-start);
    &:hover {
      .brand__original,
      .brand__registered {
        &::before {
          transform: translateY(-120%) rotate(-12deg);
        }
        &::after {
          transform: translateY(0) rotate(0deg);
        }
      }
    }
    .brand {
      &__original,
      &__registered {
        overflow: hidden;
        &::before,
        &::after {
          @include beaf;
          @include rect;
          @include poa(l, 0, 0, 0);
        }
        &::before {
          background: #205288;
          transform: translateY(0%) rotate(0deg);
          transition: all 0.6s $ease-outCubic;
        }
        &::after {
          background: $c-primary0;
          transform: translateY(120%) rotate(12deg);
          transition: all 0.6s $ease-outCubic;
        }
      }
      &__original {
        @include rect(7.07rem, 2.12rem);
        &::before,
        &::after {
          -webkit-mask: url("../images/original.svg");
          mask: url("../images/original.svg");
          @include mask;
        }
      }
      &__registered {
        @include rect(0.73rem, 0.8rem);
        margin-left: 0.47rem;
        &::before,
        &::after {
          -webkit-mask: url("../images/registered.svg");
          mask: url("../images/registered.svg");
          @include mask;
        }
      }
    }
    svg path {
      fill: transparent;
    }
  }
  &__nav {
    @include flex(row, flex-end);
    text-transform: capitalize;
    padding: 1.3rem 2.67rem 0.93rem 2.67rem;
    border-radius: 9999px;
    background: $c-primary4;
    .nav {
      &__item {
        & + .nav__item {
          margin-left: 2.67rem;
        }
        & + .nav__dash {
          margin-left: 1rem;
          margin-right: 1.3rem;
        }
      }
      &__link {
        @include font-body-2;
        @include flex;
        @include ani-text(1.3rem);
        &::before {
          color: $c-black;
        }
        &::after {
          color: $c-primary0;
        }
        &:hover {
          .nav__icon {
            &::before {
              transform: translateY(-150%) rotate(-12deg);
            }
            &::after {
              transform: translateY(0) rotate(0deg);
            }
          }
        }
      }
      &__icon {
        @include rect(0.8rem, 1.3rem);
        margin-right: 0.47rem;
        overflow: hidden;
        &::before,
        &::after {
          @include beaf;
          @include rect(100%, 1rem);
          @include poa(l, 0, 0, b);
          -webkit-mask: url("../images/shop.svg");
          mask: url("../images/shop.svg");
          @include mask;
        }
        &::before {
          background: $c-black;
          transform: translateY(0%) rotate(0deg);
          transition: all 0.6s $ease-outCubic;
        }
        &::after {
          background: $c-primary0;
          transform: translateY(150%) rotate(12deg);
          transition: all 0.6s $ease-outCubic;
        }
      }
      &__line {
        @include rect(1.6rem, 0);
        border-top: 0.07rem solid $c-primary1;
        transform: translateY(-0.2rem) matrix(-0.34, 0.94, 0.94, 0.34, 0, 0);
      }
    }
  }
}
