.service {
  margin: 10.53rem auto 0 auto;
  @media (max-width: $md) {
    margin: 8rem auto 0 auto;
  }
  &__title {
    @include section-title;
    @include rect(80rem, auto);
    margin: auto;
    @media (max-width: $md) {
      @include rect(calc(100vw - 3.2rem), auto);
    }
  }
  &__lists {
    @include rect(100%, auto);
    @include flex(row, flex-start, stretch);
    margin: 3.73rem 0 0 0;
    overflow: visible;
    @media (max-width: $md) {
      margin: 1.6rem 0 0 0;
      @include rect(calc(100vw - 3.2rem), auto);
    }
  }
  &__item {
    @include rect(50%, auto);
    padding: 2.67rem 2.67rem 5.73rem 2.67rem;
    flex: 0 0 50%;
    border-top: 1px solid $c-black-op01;
    border-bottom: 1px solid $c-black-op01;
    @media (max-width: $md) {
      // @include rect(calc(100vw - 3.2rem), auto);
      padding: 1.6rem;
      flex: 0 0 calc(100vw - 3.2rem);
    }
    & + .service__item {
      border-left: 1px solid $c-black-op01;
    }
    svg {
      @include rect;
    }
    &:nth-child(2n + 1) {
      @include flex(column, flex-start, flex-start);
      .service__image {
        @include rect(9.2rem, 10.87rem);
        margin-top: 2.87rem;
        margin-bottom: 4.87rem;
        margin-left: 4.8rem;
        @media (max-width: $md) {
          @include rect(7.73em, 9.13rem);
          margin-top: 1.67rem;
          margin-bottom: 2.51rem;
          margin-left: 4.93rem;
        }
      }
    }
    &:nth-child(2n) {
      @include flex(column-reverse, flex-end, flex-start);
      .service__image {
        @include rect(7.8rem, 10.4rem);
        margin-top: 7.87rem;
        margin-left: 5.47rem;
        @media (max-width: $md) {
          @include rect(6.6rem, 8.8rem);
          margin-top: 3.53rem;
          margin-left: 5.6rem;
        }
      }
    }
  }
  &__info {
    .info {
      &__title {
        @include font-heading-4;
        color: transparent;
        text-transform: capitalize;
        @include flex(column, flex-start, flex-start);
        span {
          @include rect(100%, 2.27rem);
          overflow: hidden;
          @media (max-width: $md) {
            @include rect(100%, 1.91rem);
          }
          &::before {
            @include beaf(attr(data-text));
            color: $c-gray1;
            @include poa(0, 0, r, b);
            transform: translateY(0%) rotate(0deg);
            opacity: 1;
          }
          @for $i from 1 through 2 {
            &:nth-child(#{$i}) {
              &::before {
                transition: all 0.6s ($i - 1 + 36) * 0.05s $ease-outCubic;
              }
            }
          }
        }
      }
      &__content {
        @include font-body-1;
        color: $c-gray1;
        margin-top: 1.06rem;
        transition: opacity 1.2s 1.8s $ease-inCubic,
          transform 1.2s 1.8s $ease-outCubic;
        @media (max-width: $md) {
          margin-top: 1.06rem;
        }
      }
    }
  }
  svg {
    opacity: 0;
    path {
      transition: fill 0.6s 0.6s $ease-outQuad, stroke 0.6s $ease-outQuad;
      &.is-bgLine {
        opacity: 0 !important;
        fill: $c-primary1;
        transition: opacity 0.6s $ease-outQuad, fill 0.6s 0.6s $ease-outQuad;
      }
      &.is-stroke {
        stroke: $c-primary1;
      }
    }
    &.is-drawFinish {
      opacity: 1 !important;
      path {
        &.is-bgLine {
          opacity: 1 !important;
          fill: $c-primary0;
        }
        &.is-stroke {
          stroke: $c-primary0;
        }
      }
    }
  }
  .is-unDraw {
    .service {
      &__info {
        .info {
          &__title {
            span {
              &::before {
                transform: translateY(120%) rotate(6deg);
                opacity: 0;
              }
            }
          }
          &__content {
            opacity: 0;
            transform: translateY(200%);
          }
        }
      }
    }
  }
}
